@media screen and (max-width: 850px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .leftpart {
        width: 100%;
    }
}

@import url(//db.onlinewebfonts.com/c/0b0a8c345731751b990403a2cf40fbec?family=IRAN+Sans);
body {
    font-family: IRANSens;
}
header {
    z-index: 1;

}

main {
    margin: auto;
}
div .items {
    display: flex;
    justify-content: end;
}

img {
    height: 420px;
}

i {
    color: gray;
}

nav i:hover {
    color: black;
}

.card {
    box-shadow: 1px 1px 4px 1px rgba(167 ,167 ,167);
    margin-top: 2rem;
}

.card img {
    display: flex;
    height: 180px;
    align-items: center;
    padding-right: 45px;
    padding-left: 45px;
}

.pish {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    padding: 0px;
    height: 30px;
    margin-right: 2rem;
}

span button{
    color:  rgb(214, 26, 26);
}

.card-text {
    font-size: medium;
}

.stars {
    position: relative;
    bottom: 30px;
    left: 25px;
    color: rgb(255, 215, 0);
}

.row .col{
    display: flex;
    justify-content: space-around ;
}

.row .col .card {
    width: 18rem;
}

.starss {
    position: relative;
        bottom: 30px;
        left: 25px;
        color: rgb(83, 83, 83);
}

.down-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.down {
    display: flex;
}


.hidden {
    width: 3rem;
    display: flex;
    margin:0 0 1rem 1rem;
    padding:  1rem ;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.973);
    color: rgb(255, 255, 255);
    transition-property: width;
    transition-duration: .5s;
    align-items: center;
}
.hidden i {
    color: rgb(255, 255, 255);
}

.descrip {
    font-size: 13px;
}

.hidden span{
    opacity: 0;
    transition-property: text;
    transition-delay: 1.5s;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.hidden:hover {
    width: 4.5rem;
    border-radius: 30px;
    
}

.hidden:hover span {
    opacity: 1;
}

.money {
    display: flex;
    margin-right: 1rem;
    opacity: 0.7;
}

.mugs {
    text-decoration: underline red;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.second {
    margin-bottom: 3rem;
}

/************************** footer **************************/

.footer-container {
    background-color: rgb(83 ,83 ,83);
    color: rgb(255, 255, 255);
    display: flex;
}
 .aboutus {
    font-size: 28px;
    font-weight: bold;
 }

.rightpart {
    width: 60%;
    padding: 3rem 5rem 6rem 3rem;
}

.leftpart {
    width: 40%;
    padding: 3rem 3rem 6rem 3rem;
}

.social {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-left: 20rem;
}
.social li {
    margin: 20px;
}
.social i {
    color: white;
}